.cart-title{
  text-align: center;
}
.cart-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  display: flex;
  align-items: center; /* Align content vertically */
}

.item-container img {
  max-width: 60px; /* Adjust image size */
  height: auto;
  margin-right: 20px; /* Add some space between image and content */
}

.button-container {
  margin-left: auto; /* Push buttons to the right */
}

.cart-item p {
  margin: 50px;
}

.cart-item button {
  text-align: center;
  margin: 50px;
  padding: 5px;
  height: 40px; /* Adjust button height */
  width: 50px; /* Adjust button width */
}

.cart-item .remove-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
 margin: 50px;
}
.cartitems-down{
  display: flex;
  margin: 100px 0px;
}
.cartitems-total{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  gap: 40px;
}
.cartitems-total-item{
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.cartitems-total button{
  width: 262px;
  height: 58px;
  outline: none;
  border: none;
  background: #ff5a5a;
  color: #fff;
  font-size: 16px;
  font: 600;
  cursor: pointer;
}
.cartitems-promocode{
  flex: 1;
  font-size: 16px;
  font-weight: 500;
}
.cartitems-promocode p{
   color: #555;

}
.cartitem-promo-box{
   width: 504px;
   margin-top: 15px;
   padding-left: 20px;
   height: 58px;
   background: #eaeaea;
}
.cartitem-promo-box input{
   border: none;
   outline: none;
   background: transparent;
   font-size: 16px;
   width: 330px;
   height: 50px;
}
.cartitem-promo-box button{
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}